body {
    background-color:darkslateblue;
}

.btn {
    padding: 80px 40px;
    margin-bottom: 2px;
    background-color: aqua;
}

.maintxt {
    font-family: sans-serif;
    color: aliceblue;
    display: grid;
    place-items: center;
}

p {
    color: aliceblue;
    font-family: sans-serif;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}